body {
  background-color: #efefef;
  padding-top: 40px;
  padding-bottom: 40px;
}

.form-signup {
  background-color: #efefef;
  padding: 4vh;
  margin-top: 10vh;
} 

.form-signup .form-signup-input{
  background-color: #efefef;
  margin-top: 3vh;
  max-width: 50vw;
}

.form-signup form-signup-buttonComplete{
  background-color: #efefef;
  margin-top: 2vh;
  max-width: 25vw;
}