<!DOCTYPE html>
    <head>
        <link rel="stylesheet" href="../static/bootstrap.min.css" />
        <link rel="stylesheet" href="../static/style.css" />
        <script src="../static/js/jquery-3.1.1.min.js"></script>
        <script src="../static/js/bootstrap.min.js"></script>
        <title>Timeless: The app for your life</title>
    </head>


    <body>


        <!-- Put page html here -->
 <div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
    		<form role="form" action="login.html" method="POST">
                <h1>Hey there John!</h1>
    			<h3>Your Notes</h3>
    			<hr class="colorgraph">
                <table id="note-table" class="table table-striped">
                    <tr>
                        <td>Good JSON reference: http://www.w3schools.com/js/js_json_intro.asp</td>
                    </tr>
                    <tr>
                        <td>Get Jeff to send notes next time I see him</td>
                    </tr>
                    <tr>
                        <td>Best PB&J recipe: bread, peanut butter, & grape jelly</td>
                    </tr>
                </table>
    			<div class="form-group">
    				<input type="text" novalidate="novalidate" name="email" id="note" class="form-control input-lg" placeholder="New note" tabindex="4">
    			</div>
    			<div class="row">
    				<div class="col-xs-12 col-md-12"><span id="submit" value="Add Note" href="#" class="btn btn-success btn-block btn-lg">Add Note</span></div>
    			</div>
    		</form>

            <br /><br />

            <form role="form" action="http://timeless.dynu.com/" method="POST">
                <h3>Your Events</h3>
                <hr class="colorgraph">
                <table class="table table-striped">
                    <tr>
                        <td>Coffee date w/ Sara</td>
                        <td>@Generic Coffee shop on Thurs at 14:00</td>
                    </tr>
                    <tr>
                        <td>Project Milestone Due</td>
                        <td>Fri at 17:00</td>
                    </tr>
                </table>
                <div class="form-group">
                    <input type="text" novalidate="novalidate" name="email" id="email" class="form-control input-lg" placeholder="Event Name" tabindex="4">
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="form-group">
                            <input type="text" name="password" id="password" class="form-control input-lg" placeholder="Event Description" tabindex="5">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-12"><input type="submit" value="Add Event" href="#" class="btn btn-success btn-block btn-lg"></div>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
<script>
    $('#submit').click(function () {
        var text = $('#note').val();
        var html = '<tr><td>' + text + '</td></tr>';
        setTimeout(function () {
            $('#note-table').append(html);
            $('#note').val('');

        }, 400);
    });
    // Go over Geology homework and submit ASAP
/*
    var sendData = {
        note_name:'name of note',
        note_content:'content of note'
    }
    $.post('http://timeless.dynu.com/', sendData, function( data ) {
        console.log(data);
    });
    */
</script>
</html>
